/* media query for mobile device */
@media screen and (max-width: 500px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
    padding: 10px 20px;
  }

  nav img {
    width: 80px;
  }

  nav span {
    display: none;
  }

  #search-box {
    display: block;
  }

  #search-box input {
    display: none;
  }

  .nav-btn {
    font-size: 10px;
    width: 80px;
    height: 28px;
  }

  #glass {
    font-size: 12px;
    position: absolute;
    top: 14px;
    left: -20px;
  }

  main .right {
    display: none;
  }

  main .left h1 {
    font-size: 40px;
  }

  main .left h1 span::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -2px;
    z-index: -1;
    background-color: var(--blue);
    width: 100px;
    height: 44px;
    transform: rotate(-5deg);
  }

  main .left p {
    font-size: 14px;
    text-align: justify;
  }

  .buttons {
    margin-top: 30px;
  }

  button.hero-cta {
    border-radius: 20px;
    font-size: 12px;
    border: 0;
    width: 100px;
    height: 40px;
    background-color: var(--blue);
    margin-right: 10px;
    font-weight: 400;
    transition: 0.3s;
  }

  .numbers {
    width: 100vw;
    background-color: var(--blue);
    margin: 40px auto;
    color: var(--black);
    box-shadow: -10px 15px var(--blue-shade);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 20px;
    cursor: default;
  }

  .numbers h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
  }

  .numbers p {
    font-weight: 400;
    margin: 0;
    font-size: 12px;
  }

  .bg-header {
    /* width: 100vw; */
    position: absolute;
    overflow: hidden;
    text-overflow: clip;
    font-size: 60px;
    font-weight: 900;
    line-height: 105%;
    color: rgba(49, 59, 63, 0.3);
    z-index: -1;
    left: -192px;
    width: 2380px;
  }

  .heading h1 {
    font-size: 36px;
    line-height: 105%;
    text-align: center;
    padding-top: 35px;
  }

  .heading h1 span::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -2px;
    top: 0px;
    z-index: -1;
    background-color: var(--blue);
    width: 120px;
    height: 42px;
    transform: rotate(-3.5deg);
  }

  #wrapper {
    max-width: 100vw;
    position: relative;
    margin: auto 20px;
  }

  .card {
    height: 350px;
    width: 250px;
  }

  .upskill .card h2 {
    font-size: 16px;
  }

  .upskill .card p {
    font-size: 12px;
  }

  .course-text {
    padding: 0 10px;
    height: 140px;
  }

  .ott {
    padding: 20px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: .9fr 1fr;
    gap: 1.5em;
  }

  .bg-popcorn {
    display: none;
  }

  .ott .left h1 {
    font-size: 40px;
    text-align: center;
    color: var(--black);
    margin-bottom: 0px;
    font-weight: 900;
  }

  .one {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }

  .one h1 {
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 20px;
    text-align: center;
  }

  .ott .right .neuron {
    font-size: 48px;
    top: 20px;
    left: -30px;
  }

  .ott button {
    margin-top: 28px;
    padding: 8px 18px;
    font-size: 16px;
  }

  #prev,
  #next,
  #mentor-prev,
  #mentor-next {
    display: none;
  }
}