@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
  --black: #242B2E;
  --blue: #35BDD0;
  --blue-shade: #1D707C;
}

::selection {
  background: var(--blue);
}


body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--black);
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav img {
  width: 180px;
}

nav span {
  font-size: 24px;
  font-weight: 100;
  cursor: default;
}

nav span i {
  -webkit-text-stroke: 2px var(--black);
}

.one-neuron {
  color: var(--blue)
}

#search-box {
  position: relative;
}

#glass {
  font-size: 18px;
  color: var(--black);
  position: absolute;
  top: 10px;
  left: 12px;
  -webkit-text-stroke: 1px #fff;
}

#search {
  padding: 12px;
  padding-left: 40px;
  width: 300px;
  border-radius: 30px;
  border: 0;
}

#search:focus {
  outline: none;
}

.nav-btn {
  width: 120px;
  height: 38px;
  background-color: var(--blue);
  border: 0;
  border-radius: 30px;
  transition: .3s;
}

.nav-btn:hover {
  box-shadow: -4px 4px var(--blue-shade);
  transform: translate(0.4em, -.4em);
}

nav span {
  position: relative;
}

nav span:hover ul,
nav span:focus ul {
  opacity: 1;
  visibility: visible;
}

nav span ul {
  padding: 10px;
  background-color: var(--black);
  box-shadow: -2px 2px 4px var(--blue-shade);
  font-size: 18px;
  width: 250px;
  list-style: none;
  position: absolute;
  top: 12px;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  border-radius: 10px;
  transition: .3s ease-in-out;
}

nav span ul li:hover {
  background-color: var(--blue);
}

nav span ul li {
  border-radius: 10px;
  padding: 10px;
}

main {
  display: flex;
  align-items: center;
  margin: 0 30px;
}


main .left h1 {
  font-size: 94px;
  line-height: 100%;
  margin-bottom: 0;
}

main .left h1 span {
  position: relative;
}


main .left h1 span::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -10px;
  z-index: -1;
  background-color: var(--blue);
  width: 240px;
  height: 100px;
  transform: rotate(-5deg);
}

main .left p {
  font-size: 22px;
  font-weight: 300;
  width: 80%;
}

.buttons {
  margin-top: 50px;
}

button.hero-cta {
  border-radius: 20px;
  font-size: 24px;
  border: 0;
  width: 200px;
  height: 60px;
  background-color: var(--blue);
  margin-right: 40px;
  font-weight: 400;
  transition: 0.3s;
}

button.hero-cta:hover {
  box-shadow: -8px 8px var(--blue-shade);
  transform: translate(0.4em, -.4em);
}

/* div.btn {
  display: inline;
  background-color: var(--blue-shade);
  border: 0;
  border-radius: 20px;
  width: 200px;
  height: 60px;
} */

.numbers {
  width: 800px;
  background-color: var(--blue);
  margin: 80px auto;
  color: var(--black);
  box-shadow: -10px 15px var(--blue-shade);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 30px 20px;
  cursor: default;
}

.numbers h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 700;
}

.numbers p {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
}




/* upslill section */
.upskill {
  position: relative;
  margin-bottom: 100px;
}

.bg-header {
  /* width: 100vw; */
  position: absolute;
  overflow: hidden;
  text-overflow: clip;
  font-size: 80px;
  font-weight: 900;
  line-height: 105%;
  color: rgba(49, 59, 63, 0.3);
  z-index: -1;
  left: -192px;
  width: 2380px;
}

.heading h1 {
  font-size: 94px;
  line-height: 105%;
  text-align: center;
  padding-top: 80px;
}

.heading h1 span {
  position: relative;
}


.heading h1 span::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 2px;
  z-index: -1;
  background-color: var(--blue);
  width: 310px;
  height: 110px;
  transform: rotate(-3.5deg);
}

#wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.cards {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.cards::-webkit-scrollbar {
  height: 0;
}

.card {
  background-color: var(--blue-shade);
  height: 420px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.upskill .card h2 {
  text-align: center;
}

.upskill .card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.course-text {
  padding: 0 10px;
  height: 180px;
}

.card button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--black);
  border: 0;
  border-radius: 10px;
  transition: .3s;
}

.card button:hover {
  box-shadow: -4px 4px var(--black);
  transform: translate(0.4em, -.4em);
}

#prev,
#next,
#mentor-prev,
#mentor-next {
  position: absolute;
  top: 200px;
  border-radius: 30px 40px 30px 40px;
  background-color: var(--blue-shade);
  fill: #fff;
  border: 0;
  padding: 5px;
}

#prev,
#mentor-prev {
  left: -50px;
}

#next,
#mentor-next {
  right: -50px;
}

#prev:hover,
#next:hover,
#mentor-prev:hover,
#mentor-next:hover {
  background-color: var(--blue);
}

.ott {
  background-color: var(--blue);
  padding: 40px 60px;
  position: relative;
  /* z-index: -2; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bg-popcorn {
  width: 800px;
  height: 400px;
  top: 0px;
  right: 100px;
  z-index: 0;
  position: absolute;
  opacity: 10%;
}

.bg-popcorn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ott .left h1 {
  z-index: 5;
  margin-top: 0;
  font-size: 94px;
  color: var(--black);
  margin-bottom: 0px;
}

.ott .right {
  z-index: 5;
  margin: auto;
  position: relative;
}

.one {
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 50%;
  background-color: var(--blue-shade);
  position: relative;
}

.one h1 {
  font-size: 48px;
  color: var(--black);
  text-align: center;
  position: absolute;
  top: 5px;
  left: 25px;
  line-height: 105%;
}

.ott .right .neuron {
  font-size: 76px;
  position: absolute;
  top: 30px;
  left: -60px;
  /* -webkit-text-stroke: 1px var(--black); */
}

.ott button {
  margin-top: 50px;
  padding: 15px 25px;
  border: 0;
  font-size: 20px;
  background-color: var(--blue-shade);
  border-radius: 20px;
  transition: 0.3s;
  z-index: 99 !important;
  cursor: pointer;
}

.ott button:hover {
  box-shadow: -8px 8px var(--black);
  transform: translate(0.4em, -.4em);
}

.mentors {
  position: relative;
}

.mentors .bg h1 {
  font-size: 170px;
  color: var(--black);
  -webkit-text-stroke: 1px var(--blue);
  position: absolute;
  left: -150px;
  width: 140vw;
  top: -200px;
  z-index: -1;
  opacity: 20%;
}

.mentors>h1 {
  font-size: 90px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.mentors .card {
  height: 340px;
  width: 260px;
}

#mentor-prev,
#mentor-next {
  top: 140px;
}

.mentors .card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 18px auto 0px auto;
}

.mentors .card h2 {
  text-align: center;
  margin-bottom: 0px;
}

.mentors .card p {
  color: var(--black);
  text-align: center;
  margin-top: 0;
  text-align: justify;
}


.mentor-cards {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  gap: 2.5em;
}

.mentor-cards::-webkit-scrollbar {
  height: 0;
}

.mission {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  display: grid;
  grid-template-columns: .7fr 1.3fr;
  gap: 6rem;
}

.bg-mission {
  font-size: 160px;
  position: absolute;
  color: var(--blue);
  z-index: -1;
  line-height: 90%;
  font-weight: 900;
  opacity: 10%;
  text-align: center;
  left: -140px;
  letter-spacing: .08em;
}

.mission .left h1 {
  color: var(--blue);
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  font-weight: 900;
  display: inline-block;
  margin-left: 50px;
}

.mission .right {
  font-size: 24px;
  margin-right: 50px;
  text-align: justify;
  align-self: center;
}


.contact-container {
  position: relative;
  background-color: var(--blue);
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

#cats {
  position: absolute;
  z-index: 0;
  opacity: 10%;
  right: 0px;
  height: 490px;
  width: 700px;
}

#cats img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact label {
  color: var(--black);
  font-weight: 700;
}

form.contact {
  background: rgba(29, 112, 124, 0.3);
  padding: 20px;
  border: 0;
  border-radius: 20px;
}

.contact input,
textarea {
  margin-top: 4px;
  width: 370px;
  border-radius: 12px;
  border: 0;
  padding: 8px;
  outline: none;
  /* z-index: 0; */
}


.contact-container .right h1 {
  color: var(--black);
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}

form div {
  margin-bottom: 10px;
}

form button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: var(--blue-shade);
  font-weight: 700;
  color: #fff;
  transition: .3s;
}

form button:hover {
  box-shadow: -2px 4px var(--black);
  /* transform: translate(0.4em, 0em); */
}

.contact-container .right {
  margin-left: 80px;
  z-index: 2;
}

.contact-container .right h1 {
  font-size: 90px;
}

.contact-container .right p {
  font-size: 42px;
  font-weight: 300;
  color: var(--black);
}

footer img {
  width: 120px;
}

footer {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  gap: 2em;
  padding: 20px 50px;
}

.company h3 {
  margin-left: 100px;
}

footer h3 {
  font-size: 20px;
}

.company .list {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  margin: 0 80px 0 0;
  gap: 6em;
}

.company .list ul {
  margin-top: 0;
}

footer ul {
  list-style-type: none;
  padding: 0
}

footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

footer ul li:hover {
  color: var(--blue)
}

footer .email {
  margin-top: 20px;
}

footer i {
  margin-right: 5px;
}